@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}*/


body {
  color: #74049d;
  background-color: #eedff5;
  font-weight: 500;
  position: relative;
    min-height: 100%;
    margin: 0;
   
}


header {
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow:  .125rem .25rem rgba(0,0,0,.075)!important;
} 

main {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
}

.title {
  font-size: xx-large;
  padding-top: 5px;
  padding-bottom: 5px;
}


nav {
  display: flex;
  padding-left: 15%;  
  padding-right: 1%;
  width: 100%;
}

.navbar {
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 40;
    height: 4rem;
    transition-duration: .15s;
    animation-duration: .15s;
    box-shadow:  .125rem .25rem rgba(0,0,0,.075)!important;
}

.navLink  {
  display: inline-flex;
    cursor: pointer;
    align-items: center;
    border-radius: .375rem;
    padding: .8em;
    margin-left: 1em;
    font-weight: 500;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: #74049d;
    transition-duration: 0.4s;
    border-color:#74049d;
    border-width: 3px;
    text-align: center;
    width: 8em;
}

.navLink:hover {
  background-color: #74049d; /* Green */
  color: white;
}

.logo {  
  padding: 10px;  
  width: 300px;
}
/*
.navLink, .navLogin {
  border-width: 3px;
  font-weight: bold;
  padding: 0.8em;
  width: 10em;
  border-color:#74049d;
  border-radius: 10px; 
  transition-duration: 0.4s;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.navLink:hover {
  background-color: #74049d; 
  color: white;
}

.navLogin {
  background-color: #eedff5;
  border-color: #eedff5;
  border: 0px;
  float: right;    
}
*/
main {
  min-height: calc(100dvh - 4rem);
}
/*
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  padding: 5px;
  font-size:small;
}*/